
PandaAPI/bin/

PandaAPI/obj/

PandaAPIUnitTesting/bin/

PandaAPIUnitTesting/obj/

PandaApplication/bin/

PandaApplication/obj/

PandaDomain/bin/

PandaDomain/obj/

PandaInfrastructure/bin/

PandaInfrastructure/obj/
